/* Mi hoja de estilos  */

*{
    margin: 0px ;
    padding: 0px;
}
h1{
    font: bold 20px verdana, sans-serif;
}
h2{
    font: bold 14px verdana, sans-serif;
}
header, section, nav, footer, nav, article, aside, figure, figcaption{
    /* Pone la pagina en bloque, si se ve la misma pagina en un telefono cambiara automaticamente */
    display: block;
}
body{
    text-align: center;
}
#agrupar{
    width: 960px;
    margin: 15px auto;
    text-align: left;
    
}
#menu{
    background: #CCCCCC;
    padding: 5px 15px ;
}
#menu li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px verdana, sans-serif;

}
#seccion{
    float: left;
    margin: 20px ;
    width: 660px ;
}
#pie{
    clear: both ;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #999999;
}
article{
    background: #FFFBCC;
    border: 1px solid #999999;
    padding: 20px;
    margin-bottom: 15px ;
}
article footer{
    text-align: right;
}